body {
    background-color: #000;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.24rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app {
    width: 1400px;
    margin: 0 auto;
    background-image: url('../images/blackjack-table.jpg');
    background-color: #FFF;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 80px;
    margin: 0 auto;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: #534545;
    border-bottom: 5px solid #5E651F;
}

button {
    width: 90px;
    cursor: pointer;
    margin: 10px;
    color: #B99;
    border-radius: 5px;
    padding: 5px 15px;
}

header div {
    margin: 0 10px;
    width: 200px;
    height: 30px;
    background-color: white;
    float: right;
    color: #265F12;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid yellowgreen;
}

#app div {
    width: 1000px;
    height: 160px;
    margin: 50px auto;
    text-align: center;
    padding: 5px 30px;
    /*border: 3px solid red;*/
    margin: 65px auto 0px auto;
}

img {
    width: 100px;
    height: auto;
    margin: 15px;
    display: inline-block;
    transform: perspective(80px) rotateX(10deg);
}

